

html, body {
    margin: 0;
    // background: url('assets/IMG_5820.jpg');
}
body {
    height: 100%;
    background-size: cover;
    background-color: rgb(252, 249, 236);
    font-family: 'Roboto Mono';
    padding: 0 20px;
    color: rgba(20, 20, 20, 0.6);
}
h2 {
    color: rgba(20, 20, 20, 0.9);
}
.brand-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}

#logo {
    position: relative;
    height: 100px;
    padding: 100px;
    width: 100px;
}
.brand-text {
    position: absolute;
    top: 40px;
    font-size: 20px;
    color: black;
    transition: font-size 0.3s;
    opacity: 0;
}
.logo-container {
    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 100px;
    left: 100px;
    transform: scale(2);
}

.logo-container:hover .A-logo {
    fill: rgba(255,170,0,1);
}

.logo-container:hover .brand-text {
    font-size: 30px;
}

.A-logo {
    fill: rgb(114, 143, 219);
    transition: fill 0.2s;
}
